{% extends 'base.html' %}

{% block content %}
  {% if data is none %}
    <div>
      <p>infohash不存在</p>
    </div>
  {% else %}
    <div>
      <p>magnet::tid</p>
      <div>
        <p>{{ data['metainfo']['name'] }}</p>
        <p>{{ data }}</p>
        <p>{{ data['metainfo'] }}</p>
        {% if "files" in data['metainfo'] %}

          {% for file in data['metainfo']['files'] %}
            {{ file['path'] }}
          {% endfor %}

        {% endif %}
      </div>
      <div> {{ data.get('seeder', data['complete']) }} </div>
        <div> {{ data.get('leeder', data['incomplete']) }} </div>
    </div>
  {% endif %}
{% endblock %}