{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}
<!DOCTYPE html>
<html lang="zh">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158747111-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-158747111-1');
  </script>
  <script data-ad-client="ca-pub-8083504117242291" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  <meta name="msvalidate.01" content="82B061C9362BC2E866A2B64D7637898A" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% block title %} {% endblock %}
  {% block description %} {% endblock %}
  {% block keywords %} {% endblock %}

  <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon" type="image/x-icon">
  {{ bootstrap.load_css() }}
  {% block require %} {% endblock %}
</head>
<body>
  <div class="container mb-3">
    <nav class="navbar navbar-expand-sm navbar-light bg-white">
      <a class="navbar-brand" href="/">
        <img class="img-responsive" style="width:30% height:30%" src="{{ url_for('static', filename='favicon.ico') }}">
        磁力虫
      </a>

      <button class="navbar-toggler navbar-info" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">首页</a>
          </li>
          {% for type in resources.keys() %}
          <li class="nav-item">
            <a class="nav-link" href="/resource?type={{type}}">{{ type }}</a>
          </li>
          {% endfor %}
        </ul>
        {{ render_form(form, form_type="inline") }}
      </div>
    </nav>
  </div>

  <main class="container">
      {% block content %} {% endblock %}
      <footer class="text-center">
          {% block footer %}
              <small> &copy; 2019 <a>cilichong</a>
              </small>
          {% endblock %}
      </footer>
  </main>

  {{ bootstrap.load_js() }}
  {% block script %} {% endblock %}
</body>
</html>
