{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="磁力虫,磁力链,磁力链接,种子,磁力搜索,种子搜索,网盘搜索,电影资源,电视剧资源,热门电视剧,热门电影,电子书,歌曲,歌曲下载">
  <meta name="description" content="磁力虫提供极简的磁力链搜索引擎，缩短获取有效并优质磁力链的时间成本。">

  <title>magnet search</title>
  <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
  {{ bootstrap.load_css() }}
  {% block require %} {% endblock %}
</head>
<body>
  <div class="container mb-3">
    <nav class="navbar navbar-expand-sm navbar-light bg-white">
      <a class="navbar-brand" href="/">
        <img class="img-responsive" style="width:30% height:30%" src="{{ url_for('static', filename='favicon.ico') }}">
        磁力虫
      </a>

      <button class="navbar-toggler navbar-info" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">首页</a>
          </li>
          {% for type in resources.keys() %}
          <li class="nav-item">
            <a class="nav-link" href="/resource?type={{type}}">{{ type }}</a>
          </li>
          {% endfor %}
        </ul>
        {{ render_form(form, form_type="inline") }}
      </div>
    </nav>
  </div>

  <main class="container">
      {% block content %} {% endblock %}
      <footer class="text-center">
          {% block footer %}
              <small> &copy; 2019 <a>cilichong</a>
              </small>
          {% endblock %}
      </footer>
  </main>

  {{ bootstrap.load_js() }}
  {% block script %} {% endblock %}
</body>
</html>