{% extends 'base.html' %}

{% block title %}
  <title>磁力虫 - 磁力链搜索引擎</title>
{% endblock %}

{% block description %}
  <meta name="description" content="磁力虫提供极简的磁力链搜索引擎，缩短获取优质磁力链的时间成本。">
{% endblock %}

{% block keywords %}
  <meta name="keywords" content="磁力虫,磁力链,磁力链接,种子,磁力搜索,种子搜索,网盘搜索,电影资源,电视剧资源,热门电视剧,热门电影,电子书,歌曲,歌曲下载">
{% endblock %}

{% block content %}
  <div class="d-flex flex-column justify-content-center bg-light" style="height: 500px;">
    <div class="d-flex justify-content-center">
      <h1 class="h2">磁力虫</h1>
    </div>
    <div class="d-flex justify-content-center">
       {{ render_form(form, form_type="inline") }}
    </div>
  </div>
{% endblock %}