{% extends 'base.html' %}

{% block title %}
  <title>cilichong - Magnet And Torrent Search Engine</title>
{% endblock %}

{% block description %}
  <meta name="description" content="a simple and useful magnet search engine. All magnet are verified and updated to ensure fast downloads">
{% endblock %}

{% block keywords %}
  <meta name="keywords" content="cilichong,magnet,torrent,magnet search engine,torrent search engine,movie magnet,tv series magnet,music magnet,ebook magnet,album magnet,software magnet">
{% endblock %}

{% block content %}
  <div class="d-flex flex-column justify-content-center bg-light" style="height: 500px;">
    <!--div class="d-flex justify-content-center">
      <h1 class="h2">cilichong</h1>
    </div-->
    <div class="d-flex justify-content-center">
       {{ render_form(form, form_type="inline") }}
    </div>
  </div>
{% endblock %}