{% extends 'base.html' %}
{% set humanfriendly = import('util.utils') %}
{% set builtins = import('builtins') %}

{% block title %}
  <title>{{ type }} - cilichong</title>
{% endblock %}

{% block content %}
  <ul class="nav nav-tabs mb-3">
    {% for t in resources[type] %}
      <li class="nav-item">
        <a class="nav-link {{ 'active' if t.name == tag else '' }}" href="./resource?type={{type}}&tag={{t.name}}" title="{{ type }} {{ t.name }} resource">
          {{t.name}}
        </a>
      </li>
    {% endfor %}
  </ul>

  <div class="container">
    <div class="row">
    {% for item in data %}
      {% set dest_url = '/search?query=%s&category=video&adult=FALSE&limit=20' % item['title'] %}
        <div class="col-sm-6">
          <a href="{{ dest_url }}" title="{{ item['title'] }} search results"><font size="2">{{ item['title'] }}</font></a>
          &nbsp&nbsp&nbsp
          <span>
            <img class="rounded" src="{{ url_for('static', filename='douban.ico') }}" width="15" height="15" alt="douban icon">
            <a href="{{ item['url'] }}" rel="noreferrer" title="{{ item['title'] }} douban rating"><font size="2"><strong>{{ item['rate'] }}</strong></font></a>
          </span>
        </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}