{% extends 'base.html' %}

{% block content %}
  <div class="table-responsive-sm">
    <table class="table-hover">
      <thead><td>类型</td><td>标题</td><td>种子数</td><td>下载数</td></thead>
      <tbody>
        {% for result in results %}
          <tr href="{{result['infohash']}}" >
            <td> {{ result.get('category', '') }} </td>
            <td>
              <ul id="myUI">
                {% if "files" in result['metainfo'] %}
                <li><span class="caret">{{ result['metainfo']['name'] }}</span>

                    <ul class="nested">
                      {% for file in result['metainfo']['files'] %}
                         <li>{{file['path']}}</li>
                      {% endfor %}
                    </ul>
                </li>
                {% else %}
                {{ result['metainfo']['name'] }}
                {% endif %}

              </ul>
            <td>
            <td> {{ result.get('seeder', 1) }} </td>
            <td> {{ result.get('leeder', 1) }} </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block script %}
<script>
  var toggler = document.getElementsByClassName("caret");
  var i;

  for (i = 0; i < toggler.length; i++) {
    toggler[i].addEventListener("click", function() {
      this.parentElement.querySelector(".nested").classList.toggle("active");
      this.classList.toggle("caret-down");
    });
  }
</script>
{% endblock %}